@import '../../../styles/global.scss';

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;

  .headerRow {
    width: 100%;

    .logo {
      max-width: 150px;
    }
  }

  .iconContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;

    a {
      color: $color-black;
      text-decoration: none;

      &:hover {
        color:$button-main-hover;
      }
    }

    .user {
      align-items: center;
      display: flex;

      .logout {
        &:hover {
          cursor: pointer;
          color: $button-main-hover;
        }
      }
    }

    .cart {
      display: flex;

      .counter {
        align-items: center;
        border-radius: 50%;
        background-color: $grey-mid;
        color: $color-white;
        display: flex;
        height: 20px;
        justify-content: center;
        position: relative;
        transform: translate(-25px, 60%);
        width: 20px;
      }
    }

    svg {
      color: $color-main;
      height: 35px;
      margin: 0 10px;
    }
  
  }
}

.formContainer {
  align-items: center;
  border: 3px solid $grey-light;
  box-shadow: 1px 2px $grey-mid;
  border-radius: 10px;
  display: flex;
  height: 50px;
  justify-content: space-between;
  overflow: hidden;
  transition: width 2s;
  width: 60%;

  @media (max-width: 576px) {
    width: 100%;
  }

  form {
    width: 80%;
    :focus-visible {
      outline: none;
    }
    
    input {
      border: none;
      margin-left: 5px;
      width: 100%;
    }
  }

  button {
    border: none;
    background: $color-white;
    height: 100%;
    width: 50px;

    svg {
      color: $color-main;
      height: 20px;
    }
  }

  button:hover {
    background: $button-main-hover;

    svg {
      color: $color-white;
    }
  }
}

.formContainer:focus-within {
  width: 100%;
}