@import '../../../styles/global.scss';

.miniatureContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 450px;
  padding: 10px;
  text-align: center;
  
  @media (max-width: 600px) {
    width: 100%!important;
  }

  img {
    background: 70a1ff;
    height: 300px;
  }

  .title {
    font-size: 16px;
    font-weight: 500;
  }
  .price {
    color: $price-color;
    font-size: 23px;
    font-weight: 700;
  }
}

