@import '../../../styles/global.scss';

h1 {
  font-size: 30px;
}
.imgContainer {
    align-items: center;
    border-radius: 50px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 10px solid $color-main;
    display: flex;
    height: 100px;
    justify-content: center;
    padding: 54px;
    width: 100px;

    svg {
      color: $color-main;
      font-size: 35px;
    }
}

.dataContainer {
  margin-left: 20px;
  margin-top: 10px;

  .name {
    font-size: 20px;
    font-weight: 700;
  }
  .review {
    font-size: 15px;
  }
}
