@import '../../../styles/global.scss';

.products {
  height: 350px;
  background: linear-gradient(to left, #C4E538,#A3CB38,#009432);
  border-radius: 10px;
  border: none;
  background-size: 150%;
  transition: 0.6s;

  &:hover {
    animation: color 4s ease-in-out 1;
    cursor: pointer;
    background-position: right;
  } 

  svg {
    font-size: 40px;
    color: $color-white;
  }
}