@import '../../../styles/global.scss';

.cart {
  display: flex;

  @media (max-width: 770px) {
    bottom: 5%;
    left: 5%;
    position: fixed;
  }

  svg:hover {
    color: $button-main-hover;
  }

  .counter {
    align-items: center;
    border-radius: 50%;
    background-color: $grey-dark;  
    color: white;
    display: flex;
    height: 20px;
    justify-content: center;
    position: relative;
    transform: translate(-25px, 60%);
    width: 20px;
  }
}