@import '../../../styles/global.scss';

.miniatureContainer {
  align-items: center;
  margin-bottom: 10px;
  padding: 15px 0;


  @media (max-width: 600px) {
    .name {
      width: 50%;
    }
    .quantity {
      width: 25%;
    }
    .delete {
      width: 25%;
    }
    .price {
      display: none!important;
    }
  }

  button {
    min-width: 35px;
  }

  span {
    align-items: center;
    display: flex;
    margin: 0 10px;
  }

  svg {
    color: $button-warning;
    font-size: 25px;

    &:hover {
      color: $button-warning-hover;
      cursor: pointer;
    }
  }
}