/* Global Variables */
$color-main: #70a1ff;
$grey-dark: #747d8c;
$grey-mid: #ced4da;
$grey-light: #f8f9fa;
$blue-dark: #013596;
$blue-light: #70a1ff;
$color-white: #ffff;
$color-black: #000000;
$price-color: #881970;

/* Button Variables */
$button-main: #70a1ff;
$button-main-hover: #2d5baf;
$button-warning: #eb4d4b;
$button-warning-hover: #ff7979;
$button-success: #6ab04c;
$button-success-hover: #badc58;
